* {
	display: inline-block;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: relative;
}

button {
	height: 100px;
	margin: 15px;
	width: 100px;
	z-index: 1;
}

canvas {
	
}


/*

Color pack 1 

59a0ef,
ee73a1,
a2c3d0,
59a0ef,
e34697,
59a0ef,
ee73a1,
a2c3d0,
59a0ef,
e34697

Color pack 2 

b29cc7
ab3394
ee73a1
203562
e34697
b29cc7
ab3394
e34697
203562

Color pack 3

ef75a0
4e394f
b29cc7
e34697
ab3394
4e394f
ea42a3
ef75a0
ab3394
b29cc7

*/