* {
	display: inline-block;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: relative;
}

button {
	height: 100px;
	margin: 15px;
	width: 100px;
	z-index: 1;
}

canvas {
	top: -152px;
}


/*


Pack 1 

"0xa1c3d1",
"0xf172a1",
"0xad2e95",
"0xb39bc8",
"0xe64398",
"0xa1c3d1",
"0xf172a1",
"0xad2e95",
"0xb39bc8",
"0xe64398"

Pack 2

"0xb39bc8",
"0xad2e95",
"0xf172a1",
"0x1f3463",
"0xe64398",
"0xb39bc8",
"0xad2e95",
"0xe64398",
"0x1f3463"

Pack 3

"0xf274a0",
"0x4f3850",
"0xb39bc8",
"0xe64398",
"0xad2e95",
"0x4f3850",
"0xed3da4",
"0xf274a0",
"0xad2e95",
"0xb39bc8"

*/