* {
	display: inline-block;
	margin: 0;
	padding: 0;
	position: relative;
}

button {
	height: 100px;
	margin: 25px;
	width: 100px;
	z-index: 1;
}


/*

Color pack 1 

ba95c6
eb3099
f45da3
5b415c
b63a9c
bca7cd
e852a3
b63a9c
f280ac

Color pack 2 

981d42
f280ac
ea273f
e852a3
ea273f
971d3a
ea273f
bca7cd
e852a3

*/